<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <title>TO DO</title>
</head>

<body>

  <header class="header section">
    <h1 class="title">TO DO</h1>
  </header>


  <ul class="list section" id="list">
  </ul>


  <section class="new-task-form">

    <input type="text" name="new-task" id="inputBox" class="new-task__input" placeholder="NEW TASK">
    <button onclick="addTask()" class="new-task__button section">
      <i class="fa-solid fa-plus"></i>
    </button>
  
  </section>


  <button onclick="deleteAll()" class="new-task__button section">RESET</button>

  
  <script src="/javascripts/taskManager.js"></script>
</body>

</html>